body{

    color: #111111;
    background-color: #fafafa;
}
/* header */

.header{
    border-bottom: 1px solid var(--CORNFLOWER, #E7E9FC);
    background: var(--WHITE, #FFF);
}


.logo {
    color: var(--IRIS, #4D5AE5);
        font-family: Raleway;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 21px;
        /* 116.667% */
        letter-spacing: 0.54px;
        text-transform: uppercase;
}

.logo-dark {
    color: black;
}


.navigation{
    color: var(--NAVY-BLUE, #2E2F42);

        font-family: 'Roboto',
            sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.32px;
}

.contacts{
    color: var(--SLATE, #434455);
    
        font-family: 'Roboto',
            sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.32px;
}

/* main */

.main{

}

.main-title{
color: var(--WHITE, #FFF);
    text-align: center;
    font-family: Roboto;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 1.12px;
}




.logo-light{
color:white;
}

